// Variables
$black: #222;
$hotlink: #f442d9;
$white: #fff;

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

// Font Variables
$primary-font: 'Inconsolata', monospace;
